# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_ALT_CORNE_LEFT
    def_bool $(shields_list_contains,alt_corne_left)

config SHIELD_ALT_CORNE_RIGHT
    def_bool $(shields_list_contains,alt_corne_right)

