if SHIELD_ALT_CORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Corne"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_ALT_CORNE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Corne R"

CONFIG_ZMK_SPLIT_ROLE_CENTRAL
default n

endif

if SHIELD_ALT_CORNE_LEFT || SHIELD_ALT_CORNE_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
